<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Header Title</ion-title>
    <ion-buttons slot="end">
      <ion-button class="circular-button">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        
        <ion-list class="side-menu">
          <ion-button expand="full" class="custom-ion-button">
            <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label>CASH GAME</ion-label>
          </ion-button>
          <ion-button expand="full" class="custom-ion-button">
            <ion-icon slot="start" name="trophy-outline"></ion-icon>
            <ion-label>TOURNAMENT</ion-label>
          </ion-button>
          <ion-button expand="full" class="custom-ion-button">
            <ion-icon slot="start" name="play-outline"></ion-icon>
            <ion-label>PRACTICE</ion-label>
          </ion-button>
        </ion-list>
      </ion-col>
      <ion-col size="10">
       
        <div class="main-content">
          <div class="card-item">
            <h3>Points</h3>
            <p>3455 Playing Now</p>
            <ion-button>SELECT TABLE</ion-button>
          </div>
          <div class="card-item">
            <h3>101 Pool</h3>
            <p>8562 Playing Now</p>
            <ion-button>SELECT TABLE</ion-button>
          </div>
          <div class="card-item">
            <h3>Deals</h3>
            <p>4733 Playing Now</p>
            <ion-button>SELECT TABLE</ion-button>
          </div>
          <div class="card-item">
            <h3>61 Pool</h3>
            <p>2550 Playing Now</p>
            <ion-button>SELECT TABLE</ion-button>
          </div>
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
